.full-width {
  width: 100%;
}

.signin-card {
  min-width: 120px;
  max-width: 500px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-card__actions {
  padding: 4px 16px 20px 16px;
}

.mat-mdc-card-header {
  padding: 16px;
}

form {
  min-width: 120px;
  max-width: 500px;
  width: 50%;
}