@use './palette';
@use '@angular/material' as mat;

$template-primary: mat.define-palette(palette.$primary-palette);
$template-accent: mat.define-palette(palette.$secondary-palette, A200, A100, A400);
$template-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    theme-type: light,
    primary: $template-primary,
    accent: $template-accent,
    warn: $template-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$dark-theme: mat.define-dark-theme((
  color: (
    theme-type: dark,
    primary: $template-accent,
    accent: $template-accent,
    warn: $template-warn,
  ),
));